/* main css START */
:root {
  --mainColor: #0c2a5e;
  --secondaryColor: #d40054;
  --gray: #42495b;
  --mainBoxShadow: rgb(149 157 165 / 20%) 0px 8px 18px;
  --mainTransition: all 0.6s ease;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--mainColor);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--mainColor);
}

::-moz-selection {
  /* Code for Firefox */
  color: #607d8b;
  background: yellow;
}

::selection {
  color: #607d8b;
  background: yellow;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1300px;
}

.colored2 {
  color: var(--secondaryColor);
}

.white {
  color: #fff;
}

.bold {
  font-weight: bold;
}

.reset-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.reset-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-custom1 {
  color: #fff;
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
  font-size: 14px;
  border-radius: 0;
  padding: 10px 15px;
}
.btn-custom1 i.fa.fa-chevron-right {
  margin-left: 20px;
}
.btn-custom1:hover {
  color: var(--secondaryColor);
  background-color: #fff;
  border-color: var(--secondaryColor);
}

.btn-custom2 {
  color: var(--secondaryColor);
  background-color: #fff;
  border-color: var(--secondaryColor);
  font-size: 14px;
  border-radius: 0;
  padding: 10px 15px;
}
.btn-custom2 i.fa.fa-chevron-right {
  margin-left: 20px;
}
.btn-custom2:hover {
  color: #fff;
  background-color: var(--secondaryColor);
  border-color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  color: #212529ba;
  overflow-x: hidden;
}

.form-control {
  border: 1px solid #f6f6f6;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 5px;
  font-size: 12px;
  padding: 15px;
  border-radius: 10px;
}
.form-control:focus {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 5px !important;
}
.form-control::placeholder {
  color: #a1a1a1;
}

textarea {
  resize: none;
}

.relative {
  position: relative;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.has-line-white {
  position: relative;
  margin-bottom: 25px;
}
.has-line-white::after {
  content: "";
  height: 2px;
  width: 120px;
  background: #fff;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.has-line-pink {
  position: relative;
  margin-bottom: 25px;
}
.has-line-pink::after {
  content: "";
  height: 2px;
  width: 120px;
  background: var(--secondaryColor);
  position: absolute;
  bottom: -10px;
  left: 0;
}

img.path {
  position: absolute;
  width: 170px;
  top: -90px;
  left: -90px;
}

/* main css END */
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-wrapper .left,
.loading-wrapper .right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--mainColor);
  transition: all 1s ease;
}
.loading-wrapper .left {
  left: 0;
}
.loading-wrapper .right {
  right: 0;
}
.loading-wrapper .lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading-wrapper .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 55px;
  height: 55px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.top-menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.top-menu-wrapper .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  max-width: 100%;
  margin: auto;
  padding: 20px 0;
}
.top-menu-wrapper .top-menu .logo img {
  width: 150px;
}
.top-menu-wrapper .top-menu .menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-menu-wrapper .top-menu .menu-wrapper .mobile-icon {
  width: 35px;
  height: 35px;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  cursor: pointer;
}
.top-menu-wrapper .top-menu .menu-wrapper .mobile-icon img {
  width: 20px;
}
.top-menu-wrapper .top-menu .menu-wrapper .menu-links {
  display: flex;
  align-items: center;
}
.top-menu-wrapper .top-menu .menu-wrapper .menu-links a.menu-link {
  padding: 13px;
  display: inline-flex;
  color: #fff;
  font-size: 18px;
  position: relative;
}
.top-menu-wrapper .top-menu .menu-wrapper .menu-links a.menu-link:hover {
  text-decoration: none;
}
.top-menu-wrapper .top-menu .menu-wrapper .menu-links a.menu-link:hover:after {
  opacity: 1;
  bottom: 5px;
  transition: all 0.3s ease;
}
.top-menu-wrapper .top-menu .menu-wrapper .menu-links a.menu-link:after {
  content: "";
  height: 2px;
  width: 30px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  border-radius: 10px;
  left: calc(50% - 15px);
  opacity: 0;
  transition: all 0.3s ease;
}
.top-menu-wrapper .top-menu .menu-wrapper .menu-links a.menu-link.active:after {
  opacity: 1;
  bottom: 5px;
  transition: all 0.3s ease;
}
.top-menu-wrapper .top-menu .menu-wrapper .menu-links .close-menu {
  display: none;
}
.top-menu-wrapper .top-menu .menu-wrapper .mobile-icon i.fa.fa-bars {
  color: #fff;
  font-size: 16px;
  border: 1px solid #fff;
  padding: 18px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.header-wrapper {
  min-height: 100vh;
  background: linear-gradient(180deg, #0c2a5f 10%, #751559 100%);
  height: 100vh;
}
.header-wrapper #homepage-slider .carousel-inner {
  height: 100%;
}
.header-wrapper #homepage-slider .carousel-inner .carousel-item {
  height: 100%;
}
.header-wrapper #homepage-slider .arrows-container {
  position: absolute;
  bottom: 50px;
  left: calc(50% - 35px);
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper #homepage-slider .arrows-container .carousel-control-next,
.header-wrapper #homepage-slider .arrows-container .carousel-control-prev {
  position: relative;
  top: unset;
  bottom: unset;
  background: #fff;
  width: 30px;
  height: 30px;
  opacity: 1;
  color: #d40054;
  font-size: 16px;
}
.header-wrapper #homepage-slider .carousel-indicators {
  width: 1300px;
  margin: 15px auto;
  max-width: 100%;
}
.header-wrapper #homepage-slider .carousel-indicators li {
  width: 70px;
  cursor: pointer;
}
.header-wrapper #homepage-slider .slider-item {
  display: flex;
  width: 1300px;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header-wrapper #homepage-slider .slider-item .slider-bg {
  position: absolute;
  top: 0;
  left: 0;
}
.header-wrapper #homepage-slider .slider-item .details {
  color: #fff;
  width: 50%;
}
.header-wrapper #homepage-slider .slider-item .details h1 {
  font-size: 46px;
  animation-delay: 0.5s;
}
.header-wrapper #homepage-slider .slider-item .details p {
  font-size: 18px;
  animation-delay: 0.5s;
}
.header-wrapper #homepage-slider .slider-item .details a {
  animation-delay: 1.3s;
}
.header-wrapper #homepage-slider .slider-item .details img.path {
  position: absolute;
  top: -90px;
  left: -90px;
  width: 170px;
}
.header-wrapper #homepage-slider .slider-item .image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-wrapper #homepage-slider .slider-item .image img {
  height: 480px;
  display: flex;
  animation-delay: 0.3s;
}
.header-wrapper #homepage-slider .follow-wrapper {
  color: #fff;
  border: 1px solid #fff;
  width: fit-content;
  padding: 5px 20px;
  position: absolute;
  top: -30px;
  left: 0;
}
.header-wrapper #homepage-slider .follow-wrapper span {
  padding-right: 25px;
}
.header-wrapper #homepage-slider .follow-wrapper a {
  color: #fff;
}
.header-wrapper #homepage-slider .follow-wrapper a:hover {
  color: #fff;
  text-decoration: none;
}
.header-wrapper #homepage-slider .follow-wrapper a i.fab {
  padding: 0 5px;
}

.welcome-wrapper {
  background: linear-gradient(180deg, #751559 0%, #d40155 90%);
  color: #fff;
  padding-top: 160px;
  margin-top: -1px;
}
.solutions .data h2 {
  font-size: 38px;
}
.solutions .image img {
  transform: scale(1.3);
  padding-top: 50px;
  padding-right: 50px;
}
.solutions .path {
  position: absolute;
  width: 170px;
  top: -90px;
  left: -90px;
}

.after-welcome-section {
  width: calc(100vw - 12px);
  margin-top: -1px;
}

@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateCircle2 {
  0% {
    left: -50px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: -50px;
  }
}
@keyframes rotateCircle3 {
  0% {
    right: -50px;
  }
  50% {
    right: 10px;
  }
  100% {
    right: -50px;
  }
}
.about-us-wrapper .statistics .item h2.number {
  color: var(--secondaryColor);
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 42px;
}
.about-us-wrapper .statistics .item p.title {
  font-size: 18px;
}
.about-us-wrapper .image-wrapper {
  padding: 0;
  margin: 40px;
}
.about-us-wrapper .image-wrapper .about-us-2 {
  position: absolute;
  top: 0;
  left: 30px;
  width: 70px;
  animation: rotateCircle2 7s ease-in-out infinite;
}
.about-us-wrapper .image-wrapper .about-us-3 {
  position: absolute;
  bottom: -30px;
  right: 20px;
  width: 110px;
  animation: rotateCircle3 10s ease-in-out infinite;
}
.about-us-wrapper .image-wrapper .circle-wrapper {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  position: absolute;
  top: 50px;
  left: 50px;
  border-radius: 1000px;
  transform: rotate(0deg);
  animation: rotateCircle 20s linear infinite;
}
.about-us-wrapper .image-wrapper .circle-wrapper .about-us-4 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
}

.our-services-wrapper {
  margin-bottom: 80px;
}
.our-services-wrapper .service {
  box-shadow: var(--mainBoxShadow);
  border-radius: 20px;
  padding: 25px 30px;
  margin: 20px 10px;
  text-align: center;
}
.our-services-wrapper .service img {
  width: 70px;
  margin: auto;
  display: flex;
  margin-bottom: 10px;
}
.our-services-wrapper .service p.title {
  color: var(--gray);
  font-weight: 600;
  font-size: 16px;
}
.our-services-wrapper .flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  min-height: 290px;
}
.our-services-wrapper .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.our-services-wrapper .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.our-services-wrapper .flip-card-front, .our-services-wrapper .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.our-services-wrapper .flip-card-back {
  color: white;
  transform: rotateY(180deg);
}
.our-services-wrapper .flip-card-back .service {
  background: linear-gradient(180deg, #0c2a5e 5%, #d30054 95%);
}
.our-services-wrapper .flip-card-back .service p.title {
  color: #fff !important;
}

.testimonials {
  background: linear-gradient(180deg, #0c2a5e 5%, #d30054 95%);
  padding: 80px 0 100px 0;
  border-radius: 50px;
}
.testimonials .path {
  width: 130px;
  top: -60px;
  left: -60px;
}
.testimonials .section-title h1 {
  color: #fff;
}
.testimonials .section-title p {
  color: #fff;
}
.testimonials .testimonials-slick {
  margin-top: 80px;
}
.testimonials .one-testimonials-wrapper {
  position: relative;
  margin: 0 20px;
}
.testimonials .one-testimonials-wrapper .image {
  position: absolute;
  width: 50px;
  border-radius: 100px;
  top: 0;
  left: 0;
}
.testimonials .one-testimonials-wrapper .arrow {
  background: #fff;
  width: 35px;
  height: 45px;
  position: absolute;
  top: 60px;
  left: 26px;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
}
.testimonials .one-testimonials-wrapper .testimonials-data {
  background: #fff;
  padding: 15px;
  margin-left: 60px;
  border-radius: 10px;
}
.testimonials .one-testimonials-wrapper .testimonials-data h3.name {
  font-weight: bold;
  font-size: 19px;
}
.testimonials .one-testimonials-wrapper .testimonials-data p.title {
  color: var(--secondaryColor);
}
.testimonials .one-testimonials-wrapper .testimonials-data span.fa.fa-star.checked {
  color: var(--secondaryColor);
}
.testimonials .slick-dots {
  bottom: -90px;
}
.testimonials .slick-dots li button:before {
  color: #fff;
  opacity: 1;
  font-size: 12px;
}
.testimonials .slick-dots li.slick-active button:before {
  color: #0c2a5e;
}

.contact-us-wrapper {
  padding: 130px 0 50px 0;
}
.contact-us-wrapper .submit-icon {
  background: #d30054;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 100px;
  position: absolute;
  top: 20px;
  right: -20px;
}

.footer-wrapper {
  background: linear-gradient(180deg, #0d2a5e 5%, #67185a 95%);
  padding: 100px 0 20px 0;
  background-image: url(../img/footer.png);
  background-size: 100%;
}
.footer-wrapper h4.title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 25px;
}
.footer-wrapper ul a {
  color: #ffffff;
  padding: 5px 0;
  display: inline-flex;
  margin-bottom: 2px;
  transition: var(--mainTransition);
}
.footer-wrapper ul a:hover {
  text-decoration: none;
  padding-left: 9px;
  transition: var(--mainTransition);
}
.footer-wrapper ul.contact i {
  margin-right: 15px;
}
.footer-wrapper ul.social {
  display: flex;
}
.footer-wrapper ul.social a {
  font-size: 18px;
  margin-right: 15px;
}
.footer-wrapper ul.social a:hover {
  text-decoration: none;
  padding-left: 0;
}
.footer-wrapper .logo {
  width: 160px;
}
.footer-wrapper p.copyrights {
  color: #fff;
  text-align: center;
  margin-top: 50px;
}

.left-menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: #0c2a5ef2;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  transform: translate(-100%, 0);
  opacity: 0;
}
.left-menu-wrapper .menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: revert;
  height: 100%;
}
.left-menu-wrapper .menu-links .close-menu {
  color: #fff;
  position: absolute;
  top: 100px;
  left: calc(50% - 20px);
  font-size: 28px;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  opacity: 0;
  cursor: pointer;
}
.left-menu-wrapper .menu-links li {
  opacity: 0;
  transform: translate(0px, 30px);
}
.left-menu-wrapper .menu-links li a.menu-link {
  color: #fff;
  padding: 30px;
  font-size: 28px;
  position: relative;
}
.left-menu-wrapper .menu-links li a.menu-link:hover {
  text-decoration: none;
}
.left-menu-wrapper .menu-links li a.menu-link:hover:after {
  opacity: 1;
  bottom: 5px;
  transition: all 0.3s ease;
}
.left-menu-wrapper .menu-links li a.menu-link:after {
  content: "";
  height: 2px;
  width: 30px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  border-radius: 10px;
  left: calc(50% - 15px);
  opacity: 0;
  transition: all 0.3s ease;
}
.left-menu-wrapper .menu-links li a.menu-link.active:after {
  opacity: 1;
  bottom: 5px;
  transition: all 0.3s ease;
}
.left-menu-wrapper.show {
  transform: translate(0, 0);
  transition: var(--mainTransition);
}

@keyframes heartEffect {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
.heart-effect {
  animation: heartEffect 4s ease-in-out infinite;
}

.solutions-page img.header-bg {
  position: absolute;
  top: 0;
  left: 0;
}
.solutions-page .header-wrapper {
  padding-top: 150px;
  height: auto;
}
.solutions-page .header-wrapper .logo-wrapper {
  background: #d40054;
  padding: 45px;
}
.solutions-page .header-wrapper .overview-wrapper {
  background: #fff;
  padding: 35px 20px;
  text-align: center;
}
.solutions-page .header-wrapper .about-us {
  background: #fff;
  padding: 60px 20px 20px 60px;
}
.solutions-page .header-wrapper .about-us .section-title img.img-fluid.path {
  width: 130px;
  top: -60px;
  left: -50px;
}
.solutions-page .ecommerce-wrapper .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 150px;
}
.solutions-page .trusted-by-wrapper {
  margin: 50px 0;
}
.solutions-page .trusted-by-wrapper .reset-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.solutions-page .trusted-by-wrapper .reset-ul li {
  width: 15%;
}
.solutions-page .cta-wrapper {
  width: 900px;
  margin: auto;
  box-shadow: var(--mainBoxShadow);
}
.solutions-page .cta-wrapper .data {
  border-left: 35px solid var(--secondaryColor);
  padding: 25px 20px;
  font-weight: 600;
}
.solutions-page .cta-wrapper .title {
  height: 100%;
  background: linear-gradient(-45deg, var(--mainColor) 0%, var(--secondaryColor) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.solutions-page .cta-wrapper .title p {
  background: #fff;
  width: fit-content;
  font-size: 14px;
  padding: 10px 18px;
  border-radius: 40px;
  color: var(--secondaryColor);
  font-weight: bold;
}
.solutions-page .cta-wrapper h3 {
  font-weight: 600;
}
.solutions-page .cta-wrapper p.call-us {
  font-size: 22px;
  color: #ababab;
}
.solutions-page .why-our-solutions {
  padding: 100px 0;
}
.solutions-page .why-our-solutions .section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  margin: auto;
  margin-bottom: 100px;
}
.solutions-page .why-our-solutions .section-title hr {
  width: 150px;
  position: absolute;
  top: -40px;
  left: calc(50% - 75px);
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.solutions-page .why-our-solutions .section-title img {
  width: 130px;
  top: -70px;
  left: -70px;
}
.solutions-page .why-our-solutions .data h3 {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  margin-bottom: 30px;
}
.solutions-page .why-our-solutions .data h3:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  background: #d40054;
  height: 2px;
  width: 260px;
}
.solutions-page .why-our-solutions .data i.fa {
  font-size: 16px;
  color: var(--secondaryColor);
  margin-right: 20px;
}

.about-us-page img.header-bg {
  position: absolute;
  top: 0;
  left: 0;
}
.about-us-page .image {
  padding: 0 70px 40px 70px;
}
.about-us-page .welcome-wrapper {
  padding-top: 30px;
}
.about-us-page .welcome-wrapper .mission-and-vision {
  margin-top: -80px;
}
.about-us-page .welcome-wrapper .mission-and-vision .item {
  background: #fff;
  color: #676767;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  height: 100%;
}
.about-us-page .welcome-wrapper .mission-and-vision .item img {
  width: 60px;
  margin-bottom: 20px;
}
.about-us-page .welcome-wrapper .mission-and-vision .item img.eye {
  width: 80px;
  margin-bottom: 0;
}
.about-us-page .welcome-wrapper .mission-and-vision .item h3 {
  color: #d40054;
  font-size: 22px;
  font-weight: 600;
}
.about-us-page .software-services-wrapper .item {
  padding: 30px;
  border-radius: 20px;
  transition: var(--mainTransition);
}
.about-us-page .software-services-wrapper .item:hover {
  background-color: #f3f3f3cc;
}
.about-us-page .software-services-wrapper .item img {
  width: 60px;
  margin-bottom: 20px;
}
.about-us-page .software-services-wrapper .item h4 {
  text-transform: capitalize;
}
.about-us-page .goals .data {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.about-us-page .goals.why-hire {
  margin-top: 140px;
}

@media all and (max-width: 1024px) {
  .top-menu-wrapper .top-menu {
    padding: 20px;
  }
  .top-menu-wrapper .top-menu .menu-wrapper .menu-links {
    display: none;
  }

  .left-menu-wrapper .menu-links {
    flex-direction: column;
  }
  .left-menu-wrapper .menu-links .close-menu {
    top: 50px;
  }
  .left-menu-wrapper .menu-links li {
    margin-bottom: 20px;
  }
  .left-menu-wrapper .menu-links li a.menu-link.active:after {
    bottom: 25px;
  }

  .has-line-pink::after {
    left: calc(50% - 60px);
  }

  .has-line-white::after {
    left: calc(50% - 60px) !important;
  }

  .path {
    display: none;
  }

  .section-title {
    text-align: center;
  }

  .statistics {
    text-align: center;
    margin: 30px 0;
  }

  .after-welcome-section {
    width: 100vw;
  }

  .solutions .image img {
    transform: none;
  }

  ol.carousel-indicators {
    display: none;
  }

  .header-wrapper {
    padding-top: 40px;
  }
  .header-wrapper #homepage-slider .slider-item {
    flex-direction: column-reverse;
    width: unset;
  }
  .header-wrapper #homepage-slider .slider-item .slider-bg {
    display: none;
  }
  .header-wrapper #homepage-slider .slider-item .details,
.header-wrapper #homepage-slider .slider-item .image {
    width: 100%;
  }
  .header-wrapper #homepage-slider .slider-item .image {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .header-wrapper #homepage-slider .slider-item .image img {
    height: auto;
    width: 300px;
  }
  .header-wrapper #homepage-slider .slider-item .details {
    text-align: center;
    padding: 0 10px;
  }
  .header-wrapper #homepage-slider .slider-item .details h1 {
    font-size: 28px;
  }
  .header-wrapper #homepage-slider .slider-item .details p {
    font-size: 16px;
  }
  .header-wrapper #homepage-slider .arrows-container {
    bottom: 10px !important;
  }

  .contact-us-wrapper .submit-icon {
    right: 10px;
  }

  .footer-wrapper {
    text-align: center;
  }
  .footer-wrapper .col-md-4 {
    margin-bottom: 50px;
  }
  .footer-wrapper ul.social {
    justify-content: center;
  }

  .solutions-page img.header-bg {
    display: none;
  }
  .solutions-page .header-wrapper .about-us {
    padding: 30px;
  }
  .solutions-page .header-wrapper .about-us .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .solutions-page .ecommerce-wrapper .content {
    padding-right: 0;
  }
  .solutions-page .ecommerce-wrapper .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .solutions-page .trusted-by-wrapper {
    padding: 40px 0;
  }
  .solutions-page .trusted-by-wrapper .reset-ul li {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
  }
  .solutions-page .cta-wrapper {
    width: 100%;
  }
  .solutions-page .cta-wrapper .data {
    border: 15px solid var(--secondaryColor);
    padding: 25px 20px;
    font-weight: 600;
  }
  .solutions-page .cta-wrapper .title {
    display: none;
  }

  .about-us-page .image {
    margin-bottom: 50px;
  }
  .about-us-page .welcome-wrapper .mission-and-vision .col-md-4 {
    margin-bottom: 20px;
  }
  .about-us-page .goals.why-hire {
    margin-bottom: 50px;
  }

  .footer-wrapper {
    background: linear-gradient(180deg, #0d2a5e 5%, #67185a 95%);
  }
}
@media all and (max-width: 600px) {
  .about-us-wrapper .image-wrapper .about-us-3 {
    width: 70px;
  }

  .about-us-wrapper .image-wrapper .about-us-2 {
    width: 50px;
  }

  .about-us-wrapper .image-wrapper .circle-wrapper {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 1000px;
    transform: rotate(0deg);
    animation: rotateCircle 20s linear infinite;
  }
  .about-us-wrapper .image-wrapper .circle-wrapper .about-us-4 {
    width: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
